@media screen and (max-width: 375px) {
  .block1 {
      height: 90px;
      width: 60px;

  }
    .block2 {
        height: 90px;
        width: 314px;
    }
    .top {
        column-gap: 1px;
        margin-bottom:0;
        min-height: 50px;
    }
    .block3 {
        height: 90px;
        width: 375px;
        margin: 5px 0 5px 0;
    }
    .block8,.block9 {
        display: none;
    }
    .middle_left {
        height: 100px;
        width: 375px;
    }
    .middle_right {
        width: 375px;
        row-gap: 5px;
        column-gap: 1px;
    }
    .middle {
        flex-direction: column;
        row-gap: 5px;
        height: auto;
        margin-bottom: 0;
    }
    .block4 {
        height: 150px;
        width: 250px;
        margin-top: 5px;
    }
    .block5 {
        height: 150px;
        width: 124px;
        margin-top: 5px;
    }
    .block6 {
        height: 300px;
        width: 375px;
        margin: 10px 0 10px 0;
    }
    .block7 {
        height: 100px;
        width: 375px;
    }
    .block10 {
        height: 100px;
        width: 375px;
        margin-top: 10px;
    }
    .wrap {
        flex-direction: column;
        justify-content: space-between;


    }
}