@media screen and (max-width: 375px) {
    .bord20 {
        border-radius: 20px;
    }

    .w330 {
        width: 330px;
    }

    .wrap {
        width: 350px;


    }

    .A {
        height: 100px;
        margin: 10px 10px 0 10px;
    }

    .B {
        height: 300px;
        margin: 10px;

    }

    .C {
        height: 100px;
        margin: 0 10px 10px 10px;
    }
}